body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    padding: 50px;
}

.thermoses {
    height: 10%;
}

.vcenter {
    display: flex;
    align-items: center;
    height: 80%;
    margin-left: 80px;
}

.brew-button{
    button{
        padding: 10px;
        width: 100%;
        font-size: 80px;
        color: #FFFFFF;
        background-color: #2DDEFF;
    }

    button:active {
        background-color: #00C3E3;

    }
}

.progress {
    width: 100%;
    height: 50px;

    .progress-bar {
        background-color: #25CC61;
    }
}

.border-15 {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

